In [58]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import time
import datetime

api_key = "558e56b6dce2cececb94ac03459570d9"

In [119]:
rain_df = pd.read_csv('Annual_Precipitation.csv')

rain_df.head()

        State  Inches  Milli­metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [97]:
state = []
inches = []

i = 0
for row in rain_df.State:
   #for every row append the city at index 0 and state at index 1
    states.append(rain_df.State)
    inches.append(rain_df.Inches)
    
    
    i += 1
inches

[0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9
 39    49.8
 40    20.1
 41    54.2
 42    28.9
 43    12.2
 44    42.7
 45    44.3
 46    38.4
 47    45.2
 48    32.6
 49    12.9
 Name: Inches, dtype: float64, 0     58.3
 1     22.5
 2     13.6
 3     50.6
 4     22.2
 5     15.9
 6     50.3
 7     45.7
 8     54.5
 9     50.7
 10    63.7
 11    18.9
 12    39.2
 13    41.7
 14    34.0
 15    28.9
 16    48.9
 17    60.1
 18    42.2
 19    44.5
 20    47.7
 21    32.8
 22    27.3
 23    59.0
 24    42.2
 25    15.3
 26    23.6
 27     9.5
 28    43.4
 29    47.1
 30    14.6
 31    41.8
 32    50.3
 33    17.8
 34    39.1
 35    36.5
 36    27.4
 37    42.9
 38    47.9

In [120]:
starter_df = pd.read_csv('top_25_key.csv')

starter_df.head(10)

   rank_key                        metro
0         1            Boulder, Colorado
1         2       Santa Cruz, California
2         2      Watsonville, California
3         3    Charlottesville, Virginia
4         4       Fort Collins, Colorado
5         5  San Luis Obispo, California
6         6         San Jose, California
7         7                  Provo, Utah
8         8      Bridgeport, Connecticut
9         8        Stamford, Connecticut

In [175]:
cities = []
states = []
rank = []


i = 0
for row in starter_df.metro:
   #for every row append the city at index 0 and state at index 1
    cities.append(starter_df.metro.str.split(',')[i][0])
    states.append(starter_df.metro.str.split(',')[i][1])
    rank.append(starter_df.rank)
    
    i += 1


city_state = pd.DataFrame({"City": cities,
                          "State": states,
                          "Rank": rank})
city_state.head()

,City,State,Rank
0,Boulder,Colorado,<bound method NDFrame.rank of rank_key ...
1,Santa Cruz,California,<bound method NDFrame.rank of rank_key ...
2,Watsonville,California,<bound method NDFrame.rank of rank_key ...
3,Charlottesville,Virginia,<bound method NDFrame.rank of rank_key ...
4,Fort Collins,Colorado,<bound method NDFrame.rank of rank_key ...

In [122]:
namelist = []
cityidlist = []
latlist = []
templist = []
humidlist = []
cloudlist = []
windspeedlist = []
countrylist = []
rainlist = []


#Then construct the URL
#make sure to use imperial
#start with a base
base_url = 'http://api.openweathermap.org/data/2.5/weather?units=imperial'

#then add your api key and create a unique url for every city in cities (list i created earlier)
#everything has to be in lists
#open weather api is as follows: http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=houston

x=0

for city in cities:
    
    if city == "Barnstable Town":
        query_url = base_url + '&appid=' + str(api_key) + '&q=Barnstable'
        response = requests.get(query_url)
        json_response = response.json()
        x = x + 1
        print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
        namelist.append(json_response['name'])
        cityidlist.append(json_response['id'])
        latlist.append(json_response['coord']['lat'])
        templist.append(json_response['main']['temp_max'])
        humidlist.append(json_response['main']['humidity'])
        cloudlist.append(json_response['clouds']['all'])
        windspeedlist.append(json_response['wind']['speed'])
        countrylist.append(json_response['sys']['country'])
        
    else:
        try:
            query_url = base_url + '&appid=' + str(api_key) + '&q=' + str(city)
            response = requests.get(query_url)
            json_response = response.json()
            x = x + 1
            print('Retrieving Data for City #' + str(x) + ' of ' + str((len(cities))) + " | " + city +","+json_response['sys']['country'])
            namelist.append(json_response['name'])
            cityidlist.append(json_response['id'])
            latlist.append(json_response['coord']['lat'])
            templist.append(json_response['main']['temp_max'])
            humidlist.append(json_response['main']['humidity'])
            cloudlist.append(json_response['clouds']['all'])
            windspeedlist.append(json_response['wind']['speed'])
            countrylist.append(json_response['sys']['country'])
            rainlist.append(rain_df['Inches'])
            print(query_url)
        except KeyError:
            namelist.append(np.nan)
            cityidlist.append(np.nan)
            latlist.append(np.nan)
            templist.append(np.nan)
            humidlist.append(np.nan)
            cloudlist.append(np.nan)
            windspeedlist.append(np.nan)
            countrylist.append(np.nan)
            x = x + 1
            print("City not Found, Moving on to next City...")
            continue

Retrieving Data for City #1 of 43 | Boulder,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Boulder
Retrieving Data for City #2 of 43 | Santa Cruz,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Cruz
Retrieving Data for City #3 of 43 | Watsonville,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Watsonville
Retrieving Data for City #4 of 43 | Charlottesville,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Charlottesville
Retrieving Data for City #5 of 43 | Fort Collins,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Fort Collins
Retrieving Data for City #6 of 43 | San Luis Obispo,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Luis Obispo
Retrieving Data for City #7 of 43 | San Jose,PH
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Jose
Retrieving Data for City #8 of 43 | Provo,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Provo
Retrieving Data for City #9 of 43 | Bridgeport,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bridgeport
Retrieving Data for City #10 of 43 | Stamford,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Stamford
Retrieving Data for City #11 of 43 | Norwalk,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Norwalk
Retrieving Data for City #12 of 43 | Barnstable Town,US
Retrieving Data for City #13 of 43 | Anchorage,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Anchorage
Retrieving Data for City #14 of 43 | Naples,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Naples
Retrieving Data for City #15 of 43 | Immokalee,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Immokalee
Retrieving Data for City #16 of 43 | Marco Island,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Marco Island
Retrieving Data for City #17 of 43 | Santa Maria,BR
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Maria
Retrieving Data for City #18 of 43 | Santa Barbara,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Santa Barbara
Retrieving Data for City #19 of 43 | Salina,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Salina
Retrieving Data for City #20 of 43 | North Port,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=North Port
Retrieving Data for City #21 of 43 | Sarasota,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Sarasota
Retrieving Data for City #22 of 43 | Bradenton,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bradenton
Retrieving Data for City #23 of 43 | Honolulu,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Honolulu
Retrieving Data for City #24 of 43 | Ann Arbor,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Ann Arbor
Retrieving Data for City #25 of 43 | San Francisco,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Francisco
Retrieving Data for City #26 of 43 | Oakland,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Oakland
Retrieving Data for City #27 of 43 | Hayward,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Hayward
Retrieving Data for City #28 of 43 | Colorado Springs,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Colorado Springs
Retrieving Data for City #29 of 43 | Manchester,GB
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Manchester
Retrieving Data for City #30 of 43 | Nashua,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Nashua
Retrieving Data for City #31 of 43 | Oxnard,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Oxnard
Retrieving Data for City #32 of 43 | Thousand Oaks,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Thousand Oaks
Retrieving Data for City #33 of 43 | Ventura,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Ventura
Retrieving Data for City #34 of 43 | Washington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Washington
Retrieving Data for City #35 of 43 | Arlington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Arlington
Retrieving Data for City #36 of 43 | Alexandria,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Alexandria
Retrieving Data for City #37 of 43 | Minneapolis,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Minneapolis
Retrieving Data for City #38 of 43 | Saint Paul,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Saint Paul
Retrieving Data for City #39 of 43 | Bloomington,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Bloomington
Retrieving Data for City #40 of 43 | San Diego,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=San Diego
Retrieving Data for City #41 of 43 | Carlsbad,CZ
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Carlsbad
Retrieving Data for City #42 of 43 | Portland,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Portland
Retrieving Data for City #43 of 43 | Austin,US
http://api.openweathermap.org/data/2.5/weather?units=imperial&appid=558e56b6dce2cececb94ac03459570d9&q=Austin

[]

In [123]:
# Convert retrieved lists to a dictionary first and then to a dataframe
# formatting for creating a dictionary is       variable_name = {"Key": value, "Key": value, etc}

weather_dict = {"Name": namelist,
                "State": states,
               "Country_id": cityidlist,
                "Country": countrylist,
                "Cloudiness (%)": cloudlist,
                "Max Temperature (F)": templist,
                "Latitude (Deg)": latlist,
                "Humidity (%)": humidlist,
                "Wind Speed (mph)": windspeedlist
               }

#create the dataframe from the dictionary
#format is vairable_name = pd.DataFrame(name of dictionary)
weather_df = pd.DataFrame(weather_dict)

#Drop the Nan Values
weather_df = weather_df.dropna(how='any')

weather_df.head(50)

,Name,State,Country_id,Country,Cloudiness (%),Max Temperature (F),Latitude (Deg),Humidity (%),Wind Speed (mph)
0,Boulder,Colorado,5574991,US,1,26.60,40.02,60,2.48
1,Santa Cruz,California,5393052,US,1,55.04,36.97,76,4.70
2,Watsonville,California,5407529,US,1,55.04,36.91,76,4.70
3,Charlottesville,Virginia,4752031,US,1,30.02,38.03,33,4.94
4,Fort Collins,Colorado,5577147,US,1,26.60,40.55,67,9.17
5,San Luis Obispo,California,5392323,US,1,53.06,35.28,56,3.36
6,San Jose,California,1689431,PH,76,77.73,15.79,74,2.37
7,Provo,Utah,5780026,US,75,24.08,40.23,77,3.36
8,Bridgeport,Connecticut,5282804,US,1,24.08,41.17,59,2.71
9,Stamford,Connecticut,4843564,US,1,30.02,41.05,58,3.36
10,Norwalk,Connecticut,5377995,US,20,64.04,33.91,49,3.36
11,Barnstable,Massachusetts,4929771,US,1,24.98,41.70,51,3.36
12,Anchorage,Alaska,5879400,US,90,30.92,61.22,99,5.06
13,Naples,Florida,4165565,US,1,64.04,26.14,75,6.93
14,Immokalee,Florida,4159553,US,24,64.04,26.42,82,6.93
15,Marco Island,Florida,4163384,US,75,64.04,25.94,83,5.82
16,Santa Maria,California,3450083,BR,0,77.00,-29.69,88,2.24
17,Santa Barbara,California,5392952,US,1,55.04,34.42,81,7.52
18,Salina,California,4550364,US,90,35.60,36.29,100,11.41
19,North Port,Florida,4166274,US,75,64.04,27.04,77,9.17
20,Sarasota,Florida,4172131,US,75,62.96,27.34,77,9.17
21,Bradenton,Florida,4148708,US,1,64.04,27.50,72,9.17
22,Honolulu,Hawaii,5856195,US,40,80.06,21.30,62,10.29
23,Ann Arbor,Michigan,4984247,US,90,32.00,42.27,92,6.93
24,San Francisco,California,5391959,US,40,55.04,37.78,52,3.36
25,Oakland,California,5378538,US,20,55.04,37.80,66,3.36
26,Hayward,California,5355933,US,1,55.04,37.67,48,4.70
27,Colorado Springs,Colorado,5417598,US,1,19.94,38.83,75,3.83
28,Manchester,New Hampshire,2643123,GB,90,33.80,53.48,92,4.70
29,Nashua,New Hampshire,5090046,US,90,21.02,42.77,29,2.59
30,Oxnard,California,5380184,US,20,60.08,34.20,54,10.29
31,Thousand Oaks,California,5402405,US,20,64.04,34.17,54,10.29
32,Ventura,California,5405878,US,1,55.04,34.28,68,3.36
33,Washington DC.,District of Columbia,4366164,US,75,33.08,38.90,48,12.75
34,Arlington,Virginia,4744709,US,75,33.08,38.89,48,12.75
35,Alexandria,Virginia,4314550,US,90,66.02,31.31,83,13.87
36,Minneapolis,Minnesota,5037649,US,1,15.80,44.98,85,3.36
37,Saint Paul,Minnesota,5045360,US,1,15.80,44.95,85,3.36
38,Bloomington,Wisconsin,4885164,US,90,37.40,40.47,100,9.17
39,San Diego,California,5391811,US,75,60.08,32.72,51,1.36
40,Carlsbad,California,3339539,CZ,75,19.40,50.23,92,3.36
41,Portland,Maine,5746545,US,90,48.02,45.52,89,19.46
42,Austin,Texas,4671654,US,90,62.60,30.27,66,13.87

In [124]:
rain_df.head()

        State  Inches  Milli­metres  Rank
0     Alabama    58.3          1480     4
1      Alaska    22.5           572    39
2     Arizona    13.6           345    47
3    Arkansas    50.6          1284     8
4  California    22.2           563    40

In [125]:
rain_df.set_index("State", drop=True, inplace=True)
rain_df.head()

            Inches  Milli­metres  Rank
State
Alabama       58.3          1480     4
Alaska        22.5           572    39
Arizona       13.6           345    47
Arkansas      50.6          1284     8
California    22.2           563    40

In [159]:
def get_rain(row):
    rain_dic = rain_df.to_dict(orient="index")
    state=row["State"]
    inches=rain_dic[state]["Inches"]
    return inches
weather_df=weather_df[weather_df["State"]!="District of Columbia"]
weather_df["State"]=weather_df["State"].apply(lambda x: x.strip())
weather_df['Rainfall'] = weather_df.apply(get_rain,axis=1)
weather_df.head()

,Name,State,Country_id,Country,Cloudiness (%),Max Temperature (F),Latitude (Deg),Humidity (%),Wind Speed (mph),Rainfall
0,Boulder,Colorado,5574991,US,1,26.60,40.02,60,2.48,15.9
1,Santa Cruz,California,5393052,US,1,55.04,36.97,76,4.70,22.2
2,Watsonville,California,5407529,US,1,55.04,36.91,76,4.70,22.2
3,Charlottesville,Virginia,4752031,US,1,30.02,38.03,33,4.94,44.3
4,Fort Collins,Colorado,5577147,US,1,26.60,40.55,67,9.17,15.9

In [166]:
def get_rank(row):
    rank_dic = starter_df.to_dict(orient="index")
    rank=row["rank"]
    return rank

weather_df=weather_df[weather_df["State"]!="District of Columbia"]
weather_df["State"]=weather_df["State"].apply(lambda x: x.strip())
weather_df['Rank'] = weather_df.apply(get_rank,axis=1)

KeyError: ('rank', 'occurred at index 0')

In [154]:
rain_dic = rain_df.to_dict(orient="index")
# rain_dic

# # d = {112: 'en', 113: 'es', 114: 'es', 111: 'en'}
# # df['D'] = df['U'].map(d)
# # df



weather_df.head(50)

,Name,State,Country_id,Country,Cloudiness (%),Max Temperature (F),Latitude (Deg),Humidity (%),Wind Speed (mph),Rainfall
0,Boulder,Colorado,5574991,US,1,26.60,40.02,60,2.48,15.9
1,Santa Cruz,California,5393052,US,1,55.04,36.97,76,4.70,22.2
2,Watsonville,California,5407529,US,1,55.04,36.91,76,4.70,22.2
3,Charlottesville,Virginia,4752031,US,1,30.02,38.03,33,4.94,44.3
4,Fort Collins,Colorado,5577147,US,1,26.60,40.55,67,9.17,15.9
5,San Luis Obispo,California,5392323,US,1,53.06,35.28,56,3.36,22.2
6,San Jose,California,1689431,PH,76,77.73,15.79,74,2.37,22.2
7,Provo,Utah,5780026,US,75,24.08,40.23,77,3.36,12.2
8,Bridgeport,Connecticut,5282804,US,1,24.08,41.17,59,2.71,50.3
9,Stamford,Connecticut,4843564,US,1,30.02,41.05,58,3.36,50.3
10,Norwalk,Connecticut,5377995,US,20,64.04,33.91,49,3.36,50.3
11,Barnstable,Massachusetts,4929771,US,1,24.98,41.70,51,3.36,47.7
12,Anchorage,Alaska,5879400,US,90,30.92,61.22,99,5.06,22.5
13,Naples,Florida,4165565,US,1,64.04,26.14,75,6.93,54.5
14,Immokalee,Florida,4159553,US,24,64.04,26.42,82,6.93,54.5
15,Marco Island,Florida,4163384,US,75,64.04,25.94,83,5.82,54.5
16,Santa Maria,California,3450083,BR,0,77.00,-29.69,88,2.24,22.2
17,Santa Barbara,California,5392952,US,1,55.04,34.42,81,7.52,22.2
18,Salina,California,4550364,US,90,35.60,36.29,100,11.41,22.2
19,North Port,Florida,4166274,US,75,64.04,27.04,77,9.17,54.5
20,Sarasota,Florida,4172131,US,75,62.96,27.34,77,9.17,54.5
21,Bradenton,Florida,4148708,US,1,64.04,27.50,72,9.17,54.5
22,Honolulu,Hawaii,5856195,US,40,80.06,21.30,62,10.29,63.7
23,Ann Arbor,Michigan,4984247,US,90,32.00,42.27,92,6.93,32.8
24,San Francisco,California,5391959,US,40,55.04,37.78,52,3.36,22.2
25,Oakland,California,5378538,US,20,55.04,37.80,66,3.36,22.2
26,Hayward,California,5355933,US,1,55.04,37.67,48,4.70,22.2
27,Colorado Springs,Colorado,5417598,US,1,19.94,38.83,75,3.83,15.9
28,Manchester,New Hampshire,2643123,GB,90,33.80,53.48,92,4.70,43.4
29,Nashua,New Hampshire,5090046,US,90,21.02,42.77,29,2.59,43.4
30,Oxnard,California,5380184,US,20,60.08,34.20,54,10.29,22.2
31,Thousand Oaks,California,5402405,US,20,64.04,34.17,54,10.29,22.2
32,Ventura,California,5405878,US,1,55.04,34.28,68,3.36,22.2
34,Arlington,Virginia,4744709,US,75,33.08,38.89,48,12.75,44.3
35,Alexandria,Virginia,4314550,US,90,66.02,31.31,83,13.87,44.3
36,Minneapolis,Minnesota,5037649,US,1,15.80,44.98,85,3.36,27.3
37,Saint Paul,Minnesota,5045360,US,1,15.80,44.95,85,3.36,27.3
38,Bloomington,Wisconsin,4885164,US,90,37.40,40.47,100,9.17,32.6
39,San Diego,California,5391811,US,75,60.08,32.72,51,1.36,22.2
40,Carlsbad,California,3339539,CZ,75,19.40,50.23,92,3.36,22.2
41,Portland,Maine,5746545,US,90,48.02,45.52,89,19.46,42.2
42,Austin,Texas,4671654,US,90,62.60,30.27,66,13.87,28.9

In [ ]:

# #Convert dataframe to scatter plot
# #Format for scatter plot is plt.scatter(x_axis, y_axis, s=whatever size, marker='o', alpha= transparency, 
# #edgecolors = color,  and other options)
# plt.scatter(latlist, templist, marker ='o', edgecolors = "blue", alpha =0.75)

# #label all the items
# plt.xlabel("Latitude (Degrees)")
# plt.ylabel("Temperature (Farenheit)")
# plt.title("City Latitude Vs Max Temperature on 1.15.19")
# plt.grid()

# #save as png
# plt.savefig("Latitude_Vs_Temp")
# #show the plot
# plt.show()

In [156]:
#Convert this dataframe to a csv and put in in the Output folder
#Format is dfname.to_csv("folder/filename.csv", index=False)
weather_df.to_csv('top_25_weather.csv', index=False)